package components

import "potblog/infrastructure"

templ Article(metadata infrastructure.Metadata, html string) {
    <article>
        @TitleH1(metadata.Title)
        @templ.Raw(html)
    </article>
}