@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .article-title-h1 {
        @apply text-6xl font-bold font-sans text-grey mt-10;
    }

    .article-title-h2 {
        @apply text-4xl font-bold font-sans text-grey my-10;
    }

    .article-paragraph {
        @apply text-black my-5;
    }

    .article-codeblock {
        @apply text-sm bg-green text-beige rounded-2xl px-6 py-3 my-8;

        .article-copy-button {
            @apply text-grey rounded-full px-3 h-7 overflow-hidden absolute right-3 bg-beige hover:bg-dark_beige duration-200;
        }

        .article-language {
            @apply font-bold bg-beige text-grey rounded-full px-3 w-fit mb-3;
        }

        .article-code {
            @apply text-sm;
        }
    }

    .article-blockquote {
        @apply my-5 text-black py-1 px-5 rounded-r-2xl relative flex items-center;

        svg {
            @apply mr-3 shrink-0;
        }

        hr {
            @apply absolute h-full w-2 top-0 left-0 rounded-r-2xl;
        }

        &.standard {
            @apply bg-green bg-opacity-25;

            hr {
                @apply bg-green;
            }

            svg {
                @apply text-green;
            }
        }

        &.warning {
            @apply bg-orange bg-opacity-25;

            hr {
                @apply bg-orange;
            }

            svg {
                @apply text-orange;
            }
        }

        &.important {
            @apply bg-red bg-opacity-25;

            hr {
                @apply bg-red;
            }

            svg {
                @apply text-red;
            }
        }
    }

    .article-button {
        @apply text-beige font-bold font-sans py-1 pl-3 pr-4 flex items-center w-fit bg-orange rounded-2xl shadow-sm border-2 border-dark_orange hover:bg-dark_orange duration-200;

        svg {
            @apply mr-1;
        }
    }

    .article-external-link {
        @apply text-orange font-bold hover:text-dark_orange duration-200;
        text-decoration: underline dotted;
    }

    article b {
        @apply text-orange;
    }
}

@layer base {
    @font-face {
        font-family: "Archivo-Variable";
        src: url("/assets/fonts/archivoComplete/Archivo-Variable.woff2")
                format("woff2"),
            url("/assets/fonts/archivoComplete/Archivo-Variable.woff")
                format("woff"),
            url("/assets/fonts/archivoComplete/Archivo-Variable.ttf")
                format("truetype");
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: "ClashDisplay-Variable";
        src: url("/assets/fonts/clashDisplay/ClashDisplay-Variable.woff2")
                format("woff2"),
            url("/assets/fonts/clashDisplay/ClashDisplay-Variable.woff")
                format("woff"),
            url("/assets/fonts/clashDisplay/ClashDisplay-Variable.ttf")
                format("truetype");
        font-weight: 200 700;
        font-display: swap;
        font-style: normal;
    }
}
